@using EcommSale.Models;
@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
    ViewData["ControllerName"] = ViewContext.RouteData.Values["controller"];
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-black">Brand List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-yellow"><i class="fa-solid fa-plus"></i>&nbsp; New Brand</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="yellow-shop">
            <th>
                @Html.DisplayNameFor(b=> b.BrandName)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BrandName</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.BrandID" />
                </td>
            </tr>
        }
    </table>
</div>