@model EcommSale.Models.Product
@{
    ViewData["Title"] = "Delete";
}
<br />

<h2 class="text-black">Delete Product</h2>
<form asp-action="Delete" method="post">
    <div class="p-4 rounded border row">
        <input type="hidden" asp-for="ProductID" />
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="col-8">
            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="ProductName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductName" class="form-control" disabled />
                </div>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" class="form-control" disabled />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" disabled />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="ProductCount"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductCount" class="form-control" disabled />
                </div>
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="CategoryID"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CategoryID" asp-items="ViewBag.categoryID" class="form-control" disabled></select>
                </div>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="BrandID"></label>
                </div>
                <div class="col-8">
                    <select asp-for="BrandID" asp-items="ViewBag.brandID" class="form-control" disabled></select>
                </div>
                <span asp-validation-for="BrandID" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAvailable" type="checkbox" disabled />
                </div>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete the product @(Model.ProductName)?');" />
                <a asp-action="Index" class="btn btn-green">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%"/>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

