@using EcommSale.Models;
@model Product
@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-black">Edit Product</h2>

@if (!string.IsNullOrEmpty(ViewBag.ExistError))
{
    <div class="alert alert-danger">@ViewBag.ExistError</div>
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <input type="hidden" asp-for="ProductID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="ProductName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductName" class="form-control" />
                </div>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Image" type="file" name="image" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="ProductCount"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductCount" class="form-control" />
                </div>
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="CategoryID"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CategoryID" asp-items="ViewBag.categoryID" class="form-control"></select>
                </div>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="BrandID"></label>
                </div>
                <div class="col-8">
                    <select asp-for="BrandID" asp-items="ViewBag.brandID" class="form-control"></select>
                </div>
                <span asp-validation-for="BrandID" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAvailable" class="" type="checkbox" />
                </div>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-green" value="Update" />
                <a asp-action="Index" class="btn btn-red">Back to list</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
